.item-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.input-form{
    margin-right: 2.5rem;
}
.minus-btn {
  margin-right: 0.5rem;
  background-color: aquamarine;
  border-radius: 5px;
}
.plus-btn {
  margin-left: 0.5rem;
  background-color: aquamarine;
  border-radius: 5px;
}
.add-btn {
  height: 2rem;
  width: 5rem;
  margin-right: 2rem;
  border-radius: 5px;
  background-color: #bef0cb;
  border: none;
  font-size: 10px;
  font-weight: 600;
}
.add-btn:hover {
  background-color: #579bb1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
